<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-info">
    <!-- Brand Logo -->
    <a href="javascript:void(0)" class="brand-link">
        <img src="../assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .2">

        <span class="brand-text font-weight-bold">TUGAS 1 - BMI APP</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="../assets/dist/img/avatar3.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="javascript:void(0)" class="d-block">Syavira Aulia Syamsi</a>
            </div>
        </div>



        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="../view/home_page.php" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>

                </li>

                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Project BMI UTS
                            <i class="fas fa-angle-left right"></i>
                            <span class="right badge badge-danger">New</span>

                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../view/bmi_form.php" target="blank" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>BMI Form</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../view/bmi_table.php" target="blank" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>BMI Count</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Tugas praktikum
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right">5</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../view/widget/Praktikum_1/array_siswa.php" target="blank" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>praktikum 1</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    <p>praktikum 2</p>
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <a href="../view/widget/Praktikum_2/form_belanja.php" target="blank" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Form Belanja</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../view/widget/Praktikum_2/form_nilai.php" target="blank"
                                        class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Form Nilai</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../view/widget/Praktikum_2/nilai_siswa.php" target="blank" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Nilai Siswa</p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="../view/widget/Praktikum_3/nilai_siswa.php" target="blank" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>praktikum 3</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    <p>praktikum 4</p>
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <a href="../view/widget/Praktikum_4/lingkaran/data_lingkaran.php" target="blank"
                                        class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Lingkaran</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../view/widget/Praktikum_4/persegi_panjang/data_persegiPanjang.php" target="blank"
                                        class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Persegi</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../view/widget/Praktikum_4/mahasiswa/daftar_mahasiswa.php" target="blank"
                                        class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Daftar Mahasiswa</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../view/widget/Praktikum_4/mahasiswa/data_nilaiMahasiswa.php" target="blank"
                                        class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Nilai Mahasiswa</p>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    <p>praktikum 5</p>
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <a href="../view/widget/Praktikum_5/dispenser/class_dispenser.php" target="blank"
                                        class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>class Dispensier</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../view/widget/Praktikum_5/fruit_Inhert/class_fruit.php" target="blank" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Class Fruit</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="../view/widget/Praktikum_5/bank/index.php" target="blank" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Bank</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../view/widget/Praktikum_5/bank/daftar_AccountBank.php" target="blank" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Bank Account</p>
                                    </a>
                                </li>

                            </ul>
                        </li>


                    </ul>
                </li>




            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>